@import "../../../styles/utility/variables";
@import "../../../styles/utility/mixins/mixins-other";
@import "../../../styles/utility/mixins/mixins-flex";
@import "../../../styles/utility/mixins/mixins-spacing";

.story{
  @include d-flex($dir: column, $ai: center);
  max-width: 840px;
  margin: 0 auto;
  text-align: center;

  &__img{
    @include img-cover;

    &-con{
      @include circle(170px);
      overflow: hidden;
      margin-bottom: 42px;
    }
  }

  &__title{
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 32px;
  }

  &__desc{
    font-size: 18px;
    line-height: 27px;
  }
}