$black: #1F2127;
$grey: #98979D;
$grey-900: #271F1F;
$grey-800: #3D4852;
$grey-700: #606F7B;
$grey-600: #8795A1;
$grey-500: #B8C2CC;
$grey-400: #DAE1E7;
$grey-300: #E7EDF3;
$grey-250: #F1F1F1;
$grey-200: #F3F7FA;
$white: #FFF;

$main: #2F2E41;

$alt: #99FFCC;