<nav class="sp-nav" [ngClass]="{'on-dark': onDark}">
  <a routerLink="/" class="sp-nav__logo" appHoverEnlargeCursor>
    <img src="assets/img/illustrations/logo.svg" alt="">
  </a>
  <div class="sp-nav__links">
    <a routerLinkActive="active" routerLink="/our-solutions" appHoverEnlargeCursor>OUR SOLUTIONS</a>
    <a routerLinkActive="active" routerLink="/user-stories" appHoverEnlargeCursor>USER STORIES</a>
    <a routerLinkActive="active" routerLink="/contact" appHoverEnlargeCursor>CONTACT</a>
  </div>
</nav>