<div class="my-slider">
  <div class="my-slider__ui">
    <div class="my-slider__ui__info"></div>
    <div class="my-slider__ui__progress">
      <div class="my-slider__ui__progress__current">{{ currentSlide + 1 }}</div>
      <div class="my-slider__ui__progress__bar"></div>
      <div class="my-slider__ui__progress__max">{{ slides.length }}</div>
    </div>
  </div>
  <div class="my-slider__slides">
    <div class="my-slider__slide" [ngClass]="{'open': currentSlide === i}" *ngFor="let slide of slides; let i = index;">
      <img class="my-slider__slide__img" [src]="slide.imgUrl" [alt]="slide.title">
      <div class="my-slider__slide__bg"
        appDetectSwipe
        (swipeDetected)="onSwipe($event)"
        appHoverEnlargeCursor
        hoverMessage="DRAG"
      ></div>
      <div class="my-slider__slide__content">
        <h2 class="big-title">{{ slide.title }}</h2>
        <p>
          {{ slide.description }}
        </p>
      </div>
    </div>
  </div>
</div>