<ng-scrollbar smoothScroll class="page-scrollbar">
  <div class="home-sections">
    <header class="home-header slide-section">
      <img src="assets/img/illustrations/logo.svg" alt="Solutions People Logo" class="home-header__bg">
      <div class="home-header__main">
        <span>WE ARE THE</span>
        <h1 class="big-title">Solution People</h1>
        <span>AND WE MAKE SOLUTIONS</span>
      </div>
      <div class="home-header__cta" appHoverEnlargeCursor (click)="scrollToSections()">
        EXPLORE
      </div>
    </header>
  
    <section class="home-section slide-section" #firstSection>
      <div class="home-section__illustration-con">
        <img src="assets/img/illustrations/we-solve-things.svg" alt="We solve things" class="home-section__illustration">
      </div>
      <div class="home-section__text">
        <h2 class="big-title">We solve things</h2>
        <p>
          Like true professionals. Do you see that illustration over there?<br>
          That’s us. We have ideas. Like really good ones.<br>
          And we use those ideas to solve things.
        </p>
      </div>
    </section>
    
    <section class="home-section slide-section">
      <div class="home-section__illustration-con">
        <img src="assets/img/illustrations/we-look-at-charts.svg" alt="We look at charts." class="home-section__illustration">
      </div>
      <div class="home-section__text">
        <h2 class="big-title">We look at charts.</h2>
        <p>
          And we think. We think really hard and we think really well.<br>
          We see bars, lines and dots and we say “Oh yes, that’s a chart”.<br>
          Because we know what charts are.
        </p>
      </div>
    </section>
    
    <section class="home-section slide-section">
      <div class="home-section__illustration-con">
        <img src="assets/img/illustrations/we-think-a-lot.svg" alt="We think a lot." class="home-section__illustration">
      </div>
      <div class="home-section__text">
        <h2 class="big-title">We think a lot.</h2>
        <p>
          We sit on donut-shaped chairs and we think. A lot.<br>
          And what if we don’t find a solution, you may ask? Haha, funny you.<br>
          We think more. We always find solutions.
        </p>
      </div>
    </section>
    
    <section class="home-section slide-section">
      <div class="home-section__illustration-con">
        <img src="assets/img/illustrations/we-also-eat-pizza.svg" alt="We also eat pizza." class="home-section__illustration">
      </div>
      <div class="home-section__text">
        <h2 class="big-title">We also eat pizza.</h2>
        <p>
          Because pizza is good. And it’s a solution... to our hunger.
        </p>
      </div>
    </section>
  </div>
</ng-scrollbar>