@import "../../styles/utility/variables";
@import "../../styles/utility/mixins/mixins-other";
@import "../../styles/utility/mixins/mixins-flex";
@import "../../styles/utility/mixins/mixins-spacing";

.home-header{
  @include d-flex($dir: column, $center: true);
  position: relative;
  font-weight: 500;
  padding: 3rem;

  &__bg{
    @include abs-center;
    z-index: 0;
    opacity: .2;
    width: 70rem;
  }

  &__main, &__cta{
    position: relative;
    z-index: 1;
  }

  &__main{
    @include d-flex($dir: column, $center: true);
    @include m-not-last(37px, b);
    margin-bottom: 6rem;
  }

  &__cta{
    @include abs-center-x;
    @include hover-underline-animation($h: 1px, $top: calc(100% - 1px), $bg: $main, $w: 100%, $dir: right);
    padding-bottom: 4px;
    bottom: 30px;
    cursor: pointer;
  }
}