html{
  font-size: 62.5%;
}

body{
  font-size: 1.8rem;
  font-family: 'Dosis', sans-serif;
  color: $main;
}

a{
  // cursor: pointer;

  &, &:hover{
    color: $main;
  }

  &, &:hover{
    text-decoration: none;
  }
}

::selection{
  background-color: $main;
  color: $alt;
}

p, ul, ol {
  font-size: 1.8rem;
  line-height: 170%;
  margin-bottom: 1em;
}

.weight-bold{
  font-weight: bold;
}

.weight-500{
  font-weight: 500;
}

.big-title{
  font-size: 96px;
  font-weight: 500;
}

.medium-title{
  font-size: 48px;
  font-weight: 500;
}