@import "../../styles/utility/variables";
@import "../../styles/utility/mixins/mixins-other";
@import "../../styles/utility/mixins/mixins-flex";
@import "../../styles/utility/mixins/mixins-spacing";

.contact-page{
  @include d-flex($ai: center, $jc: space-between);
  padding: 80px 120px;

  &__illustration{
    &-con{
      @include d-flex($ai: center, $jc: flex-end);
      width: 50%;
    }
  }

  &__main{
    @include d-flex($ai: center, $jc: flex-start);
    width: 50%;
    padding-left: 150px;

    & h1{
      margin-bottom: 18px;
    }
  }

  &__form{
    max-width: 560px;

    & .contact-form{
      margin-top: 45px;
    }
  }
}